@{
    ViewBag.Title = "Thank for your e-mail";
}

<h2>@ViewBag.Title。</h2>
<div>
    <p>
        Thank you for your confirming the e-amil。请@Html.ActionLink("", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
